/* Container for the Results section */
.results-container {
  width: 100%;
  padding: 20px 20px;
  text-align: center;
}

.section-title-results {
  text-decoration: overline;
  font-size: 36px;
  font-weight: bold;
  color: #4a4947;
  padding: 0 0 10px;
  text-align: center;
  margin-bottom: 40px;
}

.results-content {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.result-block {
  width: 45%;
  background-color: #bc7f58;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-block h1 {
  padding: 10px 0 30px;
  font-size: 32px;
  color: #faf7f0;
}

.result-image {
  width: 90%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.result-block p {
  padding: 10px;
  font-size: 19px;
  color: #faf7f0;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .results-content {
    flex-direction: column;
    gap: 30px;
  }

  .result-block {
    width: 100%;
  }

  .result-image {
    width: 100%;
  }

  .results-container {
    padding: 20px 0;
  }
}
